<% if user_signed_in? %>
  <div class="col-sm-6">
    <% if current_user.dashboard.any? %>
      <%= render current_user.dashboard %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= render 'buttons' %>
    <h4>My Upcoming Trails:</h4>
    <% if current_user.upcoming_trails.any? %>
      <%= render current_user.upcoming_trails %>
    <% end %>
  </div>
<% else %>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h3>What the hell is this?</h3>
    A unique social network for the <%= link_to "Hash House Harriers", "https://en.wikipedia.org/wiki/Hash_House_Harriers" %>.
  </div>
<% end %>