<% if user_signed_in? %>
  <div class="col-sm-6">
    <% if current_user.posts.any? %>
      <%= render current_user.feed %>
    <% else %>
      <h3>Congratulations on signing up for Gulp!</h3>
      Your feed will eventually go here. It will be made up of your posts as well as posts by your fellow hashers. You'll also see upcoming trails once you start following some kennels!
    <% end %>
  </div>

  <div class="col-sm-6">
    <ul class="buttons">
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">New Post</button></li>   
    </ul>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create a Post</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-6">
                <%= render 'posts/form' %>
              </div>
              <div class="col-xs-6">
                &lt;b&gt;<b>bold</b>&lt;/b&gt;<br />
                &lt;i&gt;<i>italic</i>&lt;/i&gt;<br />
                &lt;u&gt;<u>underline</u>&lt;/u&gt;<br />
                &lt;del&gt;<del>strikethrough</del>&lt;/del&gt;<br />
                &lt;blockquote&gt;<blockquote>blockquote</blockquote>&lt;/blockquote&gt;<br />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

  </div>
<% else %>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2>Welcome to Gulp!</h2>
    Plan your next trail the right way: the Gulp way!
  </div>
<% end %>