<% if user_signed_in? && current_user.dashboard.any? %>
  <div class="col-sm-6">
    <%= render current_user.dashboard %>
  </div>
  <div class="col-sm-6">
    <%= render 'buttons' %>
    <% if current_user.upcoming_trails.any? %>
      <%= render current_user.upcoming_trails %>
    <% end %>
  </div>
<% else %>
  <div class="col-sm-6">
      <h3>Congratulations on signing up for Gulp!</h3>
      Your feed will eventually go here. It will be made up of your posts as well as posts by your fellow hashers. You'll also see upcoming trails once you start following some kennels!
  </div>
<% end %>