<% @trail.checks.each do |c| %>
  <% if c.valid? && c.visible?(current_user) %>
    <h4><%= c.checktype %></h4>
    <div class="check">  
      <%= render c.location %>
      <% if c.trail.permissions(current_user) %>
        <%= link_to 'Delete Check', c, method: :delete, class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  <% end %>
<% end %>