<div class="col-sm-6">
  <h3>Edit your post</h3>
  <%= render 'form' %>
</div>

<div class="col-sm-6">
  Original text:
  <blockquote><%= simple_format(@post.body).html_safe %></blockquote>
  <b>Formatting tips:</b><br />
  &lt;b&gt;<b>bold</b>&lt;/b&gt;<br />
  &lt;i&gt;<i>italic</i>&lt;/i&gt;<br />
  &lt;u&gt;<u>underline</u>&lt;/u&gt;<br />
  &lt;del&gt;<del>strikethrough</del>&lt;/del&gt;<br />
  &lt;blockquote&gt;<blockquote>blockquote</blockquote>&lt;/blockquote&gt;<br />
</div>