body {
  background-color: #DDDFFF;
  padding-left: 2%;
  padding-right: 2%;
}
.logo {
  img {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8%;
  }
  :hover {
    background-color: #000F9F;
  }
}

nav ul {
  text-align: center;
  list-style: none;
  li {
    display: inline;
    padding: 0 5px;
    :hover {
      background-color: #000F9F;
      color: #6DBED7;
    }
  }
}

.rightbutton {
  position: absolute;
  right: 3%;
}

.buttons{ 
  position: absolute;
  right: 3%;
  li {
    padding: 5% 0;
    list-style: none;
    display: block;
  }
}

.nexttrail {
  width: 100%;
  background-color: #A0E99E;
  text-align: center;
  padding: 3% 0;
}