<div class="col-sm-6">
  <% if @locations.any? %>
    <%= render @locations %>
  <% end %>
</div>
<div class="col-sm-6">
  <% if user_signed_in? %>
    <ul class="buttons">
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">New Bar Location</button></li>  
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal2">New Outdoor Location</button></li>
    </ul>
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Bar Location</h4>
          </div>
          <div class="modal-body">
            <%= render 'bar_form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Outdoor Location</h4>
          </div>
          <div class="modal-body">
            <%= render 'outdoor_form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  <% end %> 
</div>